<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CS Home</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="fonts/font-awesome.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>

<body style="background-color:rgba(12,81,60,0.64);">
	<div>
		<div class="container">
			<div class="row" style="margin-bottom:10px;margin-top:10px;">
				<div class="col">
					<div class="card" style="width:519px;display:block;margin-left:auto;margin-right:auto;">
						<div class="card-body" style="padding:0;padding-top:0px;">
							<img src="img/cs_banner.png" style="background-image:url(&quot;img/cs_banner.png&quot;);height:177px;width:515px;border:0px solid rgba(0,0,0,.125);border-radius:19px;padding-top:0px;margin-bottom:0px;">
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:15px;">
				<div class="col-md-3"></div>
				<div class="col-md-3">
					<div class="card-container-imagia" style="width:75%;display:block;margin-left:auto;margin-right:auto;">
						<div class="card-imagia">
							<div class="front-imagia" style="border:1px solid rgba(0,0,0,.125);border-color:#6b9839;border-width:2px;border-radius:10px;box-shadow:0 5px 6px 0 rgba(0,0,0,0.6);">
								<div class="cover-imagia cover-gradient" style="border-radius:8px 8px 0 0;"></div>
								<div class="user-imagia">
									<img src="img/cs_signup.png" class="rounded-circle" alt />
								</div>
								<div class="py-1 px-3 text-center">
									<h3 class="text-capitalize m-0">Sign Up</h3>
									<p class="text-secondary mb-3">New Critter or New Sitter?</p>
									<p>
										<em>
											<strong>Step 1 - Sign Up</strong>
											<br>&nbsp;Whether you are a pet owner or want to make some extra cash as a pet sitter, the first step is to sign up.
											<br>
											<br>
										</em>
									</p>
								</div>
							</div>
							<div class="back-imagia" style="border:1px solid rgba(0,0,0,.125);border-color:#6b9839;border-width:2px;border-radius:10px;box-shadow:0 5px 6px 0 rgba(0,0,0,0.6);">
								<div class="d-flex align-items-center h-100 px-3">
									<div>
										<h3 class="text-center">
											<em>Sign Up</em>
											<br>
										</h3>
										<p class="text-center">
											<em>Whether you are a pet owner or want to make some extra cash as a pet sitter, the first step is to sign up. CLick
												the "Sign Up" button below.</em>
											<br>
										</p>
										<a href='/signup'>
											<button class="btn btn-primary" type="button" style="display:block;margin-left:auto;margin-right:auto;background-color:rgba(8,74,57,0.88);">Sign up</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card-container-imagia" style="width:75%;display:block;margin-left:auto;margin-right:auto;">
						<div class="card-imagia">
							<div class="front-imagia" style="border:1px solid rgba(0,0,0,.125);border-color:#6b9839;border-width:2px;border-radius:10px;box-shadow:0 5px 6px 0 rgba(0,0,0,0.6);">
								<div class="cover-imagia cover-gradient" style="border-radius:8px 8px 0 0;"></div>
								<div class="user-imagia">
									<img src="img/cs_signin.png" class="rounded-circle" alt />
								</div>
								<div class="py-1 px-3 text-center">
									<h3 class="text-capitalize m-0">Sign In</h3>
									<p class="text-secondary mb-3">Search for Sitter/Update Profile</p>
									<p>
										<em>
											<strong>Step 2 - Sign In</strong>
											<br>&nbsp;Once you have created a profile, sign in to use our service.
											<br>
										</em>
									</p>
								</div>
							</div>
							<div class="back-imagia" style="border:1px solid rgba(0,0,0,.125);border-color:#6b9839;border-width:2px;border-radius:10px;box-shadow:0 5px 6px 0 rgba(0,0,0,0.6);">
								<div class="d-flex align-items-center h-100 px-3">
									<div>
										<h3 class="text-center">
											<em>Sign In</em>
											<br>
										</h3>
										<p class="text-center">
											<em>Once you have created a profile, sign in to use our service.</em>
											<br>
										</p>
										<a href='/signin'>
											<button class="btn btn-primary" type="button" style="display:block;margin-left:auto;margin-right:auto;background-color:rgba(8,74,57,0.88);">Sign In</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>